# MiniZinc Test Results

```
Model: .\railbound.mzn
Solvers: cp-sat, chuffed
Total tests: 162
Successful: 162
Failed: 0
```

## Column Explanations

- **Test**: The test case file name
- **Solver**: The constraint solver used
- **Status**: Outcome of the solving process (SUCCESS, TIMEOUT, etc.)
- **Duration**: Time taken to solve the problem (seconds)

## Combined Results

| Test      | Solver  | Status  | Duration | Propagations |
| --------- | ------- | ------- | -------- | ------------ |
| 1-1.dzn   | cp-sat  | SUCCESS | 0.285    | 0            |
| 1-1.dzn   | chuffed | SUCCESS | 0.298    | 253          |
| 1-10.dzn  | cp-sat  | SUCCESS | 0.616    | 8976         |
| 1-10.dzn  | chuffed | SUCCESS | 0.389    | 9031         |
| 1-11.dzn  | cp-sat  | SUCCESS | 0.516    | 16649        |
| 1-11.dzn  | chuffed | SUCCESS | 0.348    | 1951         |
| 1-11A.dzn | cp-sat  | SUCCESS | 1.017    | 33650        |
| 1-11A.dzn | chuffed | SUCCESS | 0.59     | 341671       |
| 1-11B.dzn | cp-sat  | SUCCESS | 10.826   | 16315238     |
| 1-11B.dzn | chuffed | SUCCESS | 2.753    | 9596623      |
| 1-12.dzn  | cp-sat  | SUCCESS | 0.461    | 6142         |
| 1-12.dzn  | chuffed | SUCCESS | 0.402    | 5344         |
| 1-12A.dzn | cp-sat  | SUCCESS | 0.465    | 5289         |
| 1-12A.dzn | chuffed | SUCCESS | 0.459    | 13941        |
| 1-13.dzn  | cp-sat  | SUCCESS | 0.735    | 4529         |
| 1-13.dzn  | chuffed | SUCCESS | 0.481    | 18710        |
| 1-13A.dzn | cp-sat  | SUCCESS | 4.829    | 4423396      |
| 1-13A.dzn | chuffed | SUCCESS | 1.739    | 3648801      |
| 1-14.dzn  | cp-sat  | SUCCESS | 1.239    | 13078        |
| 1-14.dzn  | chuffed | SUCCESS | 0.616    | 76910        |
| 1-14A.dzn | cp-sat  | SUCCESS | 3.182    | 656489       |
| 1-14A.dzn | chuffed | SUCCESS | 1.103    | 578460       |
| 1-15.dzn  | cp-sat  | SUCCESS | 1.205    | 15532        |
| 1-15.dzn  | chuffed | SUCCESS | 0.672    | 63328        |
| 1-15A.dzn | cp-sat  | SUCCESS | 3.873    | 132502       |
| 1-15A.dzn | chuffed | SUCCESS | 2.591    | 10345827     |
| 1-2.dzn   | cp-sat  | SUCCESS | 0.329    | 0            |
| 1-2.dzn   | chuffed | SUCCESS | 0.343    | 1827         |
| 1-3.dzn   | cp-sat  | SUCCESS | 0.32     | 0            |
| 1-3.dzn   | chuffed | SUCCESS | 0.289    | 868          |
| 1-4.dzn   | cp-sat  | SUCCESS | 0.387    | 320          |
| 1-4.dzn   | chuffed | SUCCESS | 0.314    | 815          |
| 1-5.dzn   | cp-sat  | SUCCESS | 0.343    | 0            |
| 1-5.dzn   | chuffed | SUCCESS | 0.341    | 1111         |
| 1-6.dzn   | cp-sat  | SUCCESS | 0.301    | 0            |
| 1-6.dzn   | chuffed | SUCCESS | 0.277    | 322          |
| 1-7.dzn   | cp-sat  | SUCCESS | 0.282    | 0            |
| 1-7.dzn   | chuffed | SUCCESS | 0.262    | 336          |
| 1-8.dzn   | cp-sat  | SUCCESS | 0.329    | 5488         |
| 1-8.dzn   | chuffed | SUCCESS | 0.295    | 1145         |
| 1-9.dzn   | cp-sat  | SUCCESS | 0.359    | 7699         |
| 1-9.dzn   | chuffed | SUCCESS | 0.35     | 1450         |
| 2-1.dzn   | cp-sat  | SUCCESS | 0.408    | 0            |
| 2-1.dzn   | chuffed | SUCCESS | 0.352    | 841          |
| 2-2.dzn   | cp-sat  | SUCCESS | 0.694    | 126327       |
| 2-2.dzn   | chuffed | SUCCESS | 0.357    | 2368         |
| 2-3.dzn   | cp-sat  | SUCCESS | 2.117    | 276358       |
| 2-3.dzn   | chuffed | SUCCESS | 0.627    | 466931       |
| 2-3A.dzn  | cp-sat  | SUCCESS | 1.953    | 63566        |
| 2-3A.dzn  | chuffed | SUCCESS | 0.756    | 409799       |
| 2-3B.dzn  | cp-sat  | SUCCESS | 4.573    | 1404253      |
| 2-3B.dzn  | chuffed | SUCCESS | 2.687    | 9251101      |
| 2-4.dzn   | cp-sat  | SUCCESS | 0.686    | 21567        |
| 2-4.dzn   | chuffed | SUCCESS | 0.432    | 201651       |
| 2-4A.dzn  | cp-sat  | SUCCESS | 7.641    | 12986664     |
| 2-4A.dzn  | chuffed | SUCCESS | 1.198    | 43141        |
| 2-5.dzn   | cp-sat  | SUCCESS | 2.203    | 79928        |
| 2-5.dzn   | chuffed | SUCCESS | 1.072    | 13000        |
| 2-5A.dzn  | cp-sat  | SUCCESS | 1.572    | 59531        |
| 2-5A.dzn  | chuffed | SUCCESS | 0.915    | 208807       |
| 2-5B.dzn  | cp-sat  | SUCCESS | 1.935    | 51325        |
| 2-5B.dzn  | chuffed | SUCCESS | 0.937    | 151727       |
| 2-6.dzn   | cp-sat  | SUCCESS | 0.832    | 11868        |
| 2-6.dzn   | chuffed | SUCCESS | 0.648    | 10805        |
| 2-6A.dzn  | cp-sat  | SUCCESS | 2.414    | 198305       |
| 2-6A.dzn  | chuffed | SUCCESS | 0.821    | 779074       |
| 2-7.dzn   | cp-sat  | SUCCESS | 1.531    | 15465        |
| 2-7.dzn   | chuffed | SUCCESS | 0.579    | 424284       |
| 2-7A.dzn  | cp-sat  | SUCCESS | 2.92     | 8449         |
| 2-7A.dzn  | chuffed | SUCCESS | 1.954    | 1952968      |
| 2-7B.dzn  | cp-sat  | SUCCESS | 8.856    | 12780109     |
| 2-7B.dzn  | chuffed | SUCCESS | 7.918    | 29266671     |
| 2-8.dzn   | cp-sat  | SUCCESS | 4.358    | 338950       |
| 2-8.dzn   | chuffed | SUCCESS | 1.159    | 1863338      |
| 2-9.dzn   | cp-sat  | SUCCESS | 5.781    | 11927891     |
| 2-9.dzn   | chuffed | SUCCESS | 1.695    | 3140388      |
| 3-1.dzn   | cp-sat  | SUCCESS | 0.771    | 19205        |
| 3-1.dzn   | chuffed | SUCCESS | 0.533    | 5927         |
| 3-10.dzn  | cp-sat  | SUCCESS | 4.402    | 8715739      |
| 3-10.dzn  | chuffed | SUCCESS | 0.991    | 2053538      |
| 3-10A.dzn | cp-sat  | SUCCESS | 2.764    | 2998824      |
| 3-10A.dzn | chuffed | SUCCESS | 0.546    | 8838         |
| 3-10B.dzn | cp-sat  | SUCCESS | 16.997   | 30447932     |
| 3-10B.dzn | chuffed | SUCCESS | 11.895   | 35777537     |
| 3-11.dzn  | cp-sat  | SUCCESS | 2.361    | 16876        |
| 3-11.dzn  | chuffed | SUCCESS | 0.751    | 574267       |
| 3-11A.dzn | cp-sat  | SUCCESS | 6.802    | 13920222     |
| 3-11A.dzn | chuffed | SUCCESS | 1.149    | 1785123      |
| 3-11B.dzn | cp-sat  | SUCCESS | 23.504   | 42094343     |
| 3-11B.dzn | chuffed | SUCCESS | 3.811    | 7894847      |
| 3-2.dzn   | cp-sat  | SUCCESS | 1.071    | 25799        |
| 3-2.dzn   | chuffed | SUCCESS | 0.692    | 238957       |
| 3-3.dzn   | cp-sat  | SUCCESS | 1.488    | 18203        |
| 3-3.dzn   | chuffed | SUCCESS | 0.824    | 173985       |
| 3-3A.dzn  | cp-sat  | SUCCESS | 2.63     | 737296       |
| 3-3A.dzn  | chuffed | SUCCESS | 0.913    | 361761       |
| 3-4.dzn   | cp-sat  | SUCCESS | 10.293   | 17508955     |
| 3-4.dzn   | chuffed | SUCCESS | 4.28     | 9915603      |
| 3-5.dzn   | cp-sat  | SUCCESS | 0.927    | 13244        |
| 3-5.dzn   | chuffed | SUCCESS | 0.588    | 104608       |
| 3-6.dzn   | cp-sat  | SUCCESS | 9.671    | 18564142     |
| 3-6.dzn   | chuffed | SUCCESS | 2.207    | 3682157      |
| 3-7.dzn   | cp-sat  | SUCCESS | 2.815    | 94546        |
| 3-7.dzn   | chuffed | SUCCESS | 0.828    | 86510        |
| 3-7A.dzn  | cp-sat  | SUCCESS | 1.535    | 14580        |
| 3-7A.dzn  | chuffed | SUCCESS | 1.029    | 1244195      |
| 3-8.dzn   | cp-sat  | SUCCESS | 5.195    | 11360318     |
| 3-8.dzn   | chuffed | SUCCESS | 1.222    | 1982806      |
| 3-8A.dzn  | cp-sat  | SUCCESS | 0.984    | 0            |
| 3-8A.dzn  | chuffed | SUCCESS | 0.641    | 598837       |
| 3-8B.dzn  | cp-sat  | SUCCESS | 2.9      | 190257       |
| 3-8B.dzn  | chuffed | SUCCESS | 2.095    | 3562096      |
| 3-9.dzn   | cp-sat  | SUCCESS | 4.381    | 34947        |
| 3-9.dzn   | chuffed | SUCCESS | 2.27     | 5694868      |
| 4-1.dzn   | cp-sat  | SUCCESS | 0.674    | 13305        |
| 4-1.dzn   | chuffed | SUCCESS | 0.453    | 3647         |
| 4-2.dzn   | cp-sat  | SUCCESS | 0.796    | 18264        |
| 4-2.dzn   | chuffed | SUCCESS | 0.484    | 8875         |
| 4-3.dzn   | cp-sat  | SUCCESS | 0.602    | 0            |
| 4-3.dzn   | chuffed | SUCCESS | 0.46     | 221484       |
| 4-3A.dzn  | cp-sat  | SUCCESS | 4.622    | 700842       |
| 4-3A.dzn  | chuffed | SUCCESS | 1.68     | 104107       |
| 4-3B.dzn  | cp-sat  | SUCCESS | 12.478   | 24958191     |
| 4-3B.dzn  | chuffed | SUCCESS | 4.72     | 17507324     |
| 4-4.dzn   | cp-sat  | SUCCESS | 5.467    | 10591932     |
| 4-4.dzn   | chuffed | SUCCESS | 0.693    | 10439        |
| 4-4A.dzn  | cp-sat  | SUCCESS | 2.076    | 41427        |
| 4-4A.dzn  | chuffed | SUCCESS | 0.92     | 211238       |
| 4-5.dzn   | cp-sat  | SUCCESS | 8.668    | 13592212     |
| 4-5.dzn   | chuffed | SUCCESS | 1.346    | 2417240      |
| 4-5A.dzn  | cp-sat  | SUCCESS | 12.666   | 20666522     |
| 4-5A.dzn  | chuffed | SUCCESS | 1.862    | 5098311      |
| 4-6.dzn   | cp-sat  | SUCCESS | 1.879    | 31349        |
| 4-6.dzn   | chuffed | SUCCESS | 0.854    | 729381       |
| 4-6A.dzn  | cp-sat  | SUCCESS | 1.759    | 72198        |
| 4-6A.dzn  | chuffed | SUCCESS | 0.706    | 61281        |
| 4-6B.dzn  | cp-sat  | SUCCESS | 9.717    | 15966298     |
| 4-6B.dzn  | chuffed | SUCCESS | 3.359    | 10781256     |
| 4-6C.dzn  | cp-sat  | SUCCESS | 12.985   | 24383164     |
| 4-6C.dzn  | chuffed | SUCCESS | 3.168    | 6900180      |
| 4-7.dzn   | cp-sat  | SUCCESS | 11.33    | 14236601     |
| 4-7.dzn   | chuffed | SUCCESS | 1.598    | 425676       |
| 4-7A.dzn  | cp-sat  | SUCCESS | 10.274   | 19408536     |
| 4-7A.dzn  | chuffed | SUCCESS | 3.201    | 9452599      |
| 4-7B.dzn  | cp-sat  | SUCCESS | 1.926    | 35700        |
| 4-7B.dzn  | chuffed | SUCCESS | 0.9      | 117641       |
| 4-8.dzn   | cp-sat  | SUCCESS | 3.035    | 87828        |
| 4-8.dzn   | chuffed | SUCCESS | 1.322    | 92207        |
| 4-8A.dzn  | cp-sat  | SUCCESS | 3.889    | 89221        |
| 4-8A.dzn  | chuffed | SUCCESS | 1.345    | 716972       |
| 4-8B.dzn  | cp-sat  | SUCCESS | 25.315   | 34554074     |
| 4-8B.dzn  | chuffed | SUCCESS | 38.867   | 118444563    |
| 4-9.dzn   | cp-sat  | SUCCESS | 1.766    | 118711       |
| 4-9.dzn   | chuffed | SUCCESS | 1.557    | 2524189      |
| 4-9A.dzn  | cp-sat  | SUCCESS | 16.068   | 28886287     |
| 4-9A.dzn  | chuffed | SUCCESS | 372.778  | 862750733    |
| 4-9B.dzn  | cp-sat  | SUCCESS | 11.368   | 22809993     |
| 4-9B.dzn  | chuffed | SUCCESS | 185.764  | 410039872    |
| 8-1.dzn   | cp-sat  | SUCCESS | 3.487    | 2336096      |
| 8-1.dzn   | chuffed | SUCCESS | 0.772    | 64336        |
| 8-2.dzn   | cp-sat  | SUCCESS | 1.948    | 81336        |
| 8-2.dzn   | chuffed | SUCCESS | 0.98     | 652698       |
