# MiniZinc Test Results

Model: .\railbound.mzn
Solvers: chuffed
Total tests: 70
Successful: 60
Failed: 10

## Column Explanations

- **Test**: The test case file name
- **Solver**: The constraint solver used
- **Status**: Outcome of the solving process (SUCCESS, TIMEOUT, etc.)
- **Duration**: Time taken to solve the problem (seconds)

## Combined Results

| Test      | Solver  | Status  | Duration | Propagations |
| --------- | ------- | ------- | -------- | ------------ |
| 1-1.dzn   | chuffed | SUCCESS | 0.235    | 114          |
| 1-10.dzn  | chuffed | SUCCESS | 0.287    | 7076         |
| 1-11.dzn  | chuffed | SUCCESS | 0.276    | 1320         |
| 1-11A.dzn | chuffed | SUCCESS | 0.409    | 238337       |
| 1-11B.dzn | chuffed | SUCCESS | 0.444    | 200260       |
| 1-12.dzn  | chuffed | SUCCESS | 0.263    | 3847         |
| 1-12A.dzn | chuffed | SUCCESS | 0.266    | 10548        |
| 1-13.dzn  | chuffed | SUCCESS | 0.298    | 14989        |
| 1-13A.dzn | chuffed | SUCCESS | 0.786    | 2930733      |
| 1-14.dzn  | chuffed | SUCCESS | 0.312    | 63576        |
| 1-14A.dzn | chuffed | SUCCESS | 0.46     | 507399       |
| 1-15.dzn  | chuffed | SUCCESS | 0.346    | 22771        |
| 1-15A.dzn | chuffed | TIMEOUT | 1.186    | 5947995      |
| 1-2.dzn   | chuffed | SUCCESS | 0.306    | 1258         |
| 1-3.dzn   | chuffed | SUCCESS | 0.229    | 583          |
| 1-4.dzn   | chuffed | SUCCESS | 0.234    | 580          |
| 1-5.dzn   | chuffed | SUCCESS | 0.249    | 733          |
| 1-6.dzn   | chuffed | SUCCESS | 0.228    | 186          |
| 1-7.dzn   | chuffed | SUCCESS | 0.219    | 214          |
| 1-8.dzn   | chuffed | SUCCESS | 0.236    | 787          |
| 1-9.dzn   | chuffed | SUCCESS | 0.245    | 984          |
| 2-1.dzn   | chuffed | SUCCESS | 0.273    | 608          |
| 2-2.dzn   | chuffed | SUCCESS | 0.261    | 1798         |
| 2-3.dzn   | chuffed | SUCCESS | 0.388    | 392873       |
| 2-3A.dzn  | chuffed | SUCCESS | 0.468    | 354302       |
| 2-3B.dzn  | chuffed | TIMEOUT | 1.16     | 4429848      |
| 2-4.dzn   | chuffed | SUCCESS | 0.333    | 209542       |
| 2-4A.dzn  | chuffed | SUCCESS | 0.409    | 34362        |
| 2-5.dzn   | chuffed | SUCCESS | 0.36     | 10436        |
| 2-5A.dzn  | chuffed | SUCCESS | 0.351    | 143715       |
| 2-5B.dzn  | chuffed | SUCCESS | 0.371    | 125448       |
| 2-6.dzn   | chuffed | SUCCESS | 0.285    | 8149         |
| 2-6A.dzn  | chuffed | SUCCESS | 0.371    | 88053        |
| 2-7.dzn   | chuffed | SUCCESS | 0.348    | 215291       |
| 2-7A.dzn  | chuffed | SUCCESS | 0.528    | 988866       |
| 2-7B.dzn  | chuffed | TIMEOUT | 1.18     | 4349930      |
| 2-8.dzn   | chuffed | TIMEOUT | 1.183    | 4261294      |
| 2-9.dzn   | chuffed | SUCCESS | 1.044    | 2438798      |
| 3-1.dzn   | chuffed | SUCCESS | 0.311    | 4337         |
| 3-10.dzn  | chuffed | SUCCESS | 0.707    | 1542151      |
| 3-10A.dzn | chuffed | SUCCESS | 0.374    | 11935        |
| 3-10B.dzn | chuffed | SUCCESS | 0.881    | 1168159      |
| 3-11.dzn  | chuffed | SUCCESS | 0.358    | 56277        |
| 3-11A.dzn | chuffed | SUCCESS | 0.594    | 625019       |
| 3-11B.dzn | chuffed | TIMEOUT | 1.334    | 2459391      |
| 3-2.dzn   | chuffed | SUCCESS | 0.35     | 103372       |
| 3-3.dzn   | chuffed | SUCCESS | 0.432    | 170065       |
| 3-3A.dzn  | chuffed | SUCCESS | 0.489    | 265936       |
| 3-4.dzn   | chuffed | TIMEOUT | 1.192    | 3294814      |
| 3-5.dzn   | chuffed | SUCCESS | 0.372    | 180385       |
| 3-6.dzn   | chuffed | SUCCESS | 0.761    | 1117395      |
| 3-7.dzn   | chuffed | SUCCESS | 0.473    | 79082        |
| 3-7A.dzn  | chuffed | SUCCESS | 0.509    | 755255       |
| 3-8.dzn   | chuffed | SUCCESS | 0.837    | 1975075      |
| 3-8A.dzn  | chuffed | SUCCESS | 0.354    | 43987        |
| 3-8B.dzn  | chuffed | SUCCESS | 0.999    | 1776698      |
| 3-9.dzn   | chuffed | SUCCESS | 1.027    | 2714641      |
| 4-1.dzn   | chuffed | SUCCESS | 0.381    | 3647         |
| 4-2.dzn   | chuffed | SUCCESS | 0.425    | 8875         |
| 4-3.dzn   | chuffed | SUCCESS | 0.373    | 44674        |
| 4-3A.dzn  | chuffed | SUCCESS | 0.992    | 104165       |
| 4-3B.dzn  | chuffed | TIMEOUT | 1.249    | 3846148      |
| 4-4.dzn   | chuffed | SUCCESS | 0.451    | 10439        |
| 4-4A.dzn  | chuffed | SUCCESS | 0.566    | 219463       |
| 4-5.dzn   | chuffed | SUCCESS | 0.936    | 2483808      |
| 4-5A.dzn  | chuffed | TIMEOUT | 1.263    | 3910598      |
| 4-6.dzn   | chuffed | SUCCESS | 0.955    | 2335654      |
| 4-6A.dzn  | chuffed | SUCCESS | 0.524    | 65771        |
| 4-6B.dzn  | chuffed | TIMEOUT | 1.275    | 2709055      |
| 4-6C.dzn  | chuffed | TIMEOUT | 1.414    | 1374684      |
